.card {
  padding: 0;
  position: relative;
  transition: .3s all ease-in-out;

  &:hover, &:focus {
    transform: scale(1.1);
    padding: 16px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    background: #FFFFFF;

    .card__button-like {
      visibility: visible;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__button-like {
    visibility: hidden;
    width: 40px;
    height: 36px;
    position: absolute;
    right: 20px;
    bottom: 24px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    background-image: url("../../images/like-icon.svg");
    transition: .3s all ease-in-out;

    &:hover, &:focus {
      background-image: url("../../images/like-hover.svg");
    }
  }
}